/venv
/recreate_implicit_experiments/__pycache__
/__pycache__
/recreate_implicit_experiments/out
/persona_experiments/__pycache__
/persona_experiments/out
/out
/emotion_experiments/__pycache__
/emotion_experiments/code/__pycache__